/*-Body-*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 15pts;
}

/*-Main-*/
main {
  flex: 1 0 auto;
}

.title {
  padding-top: 120px;
}

.section-title {
  padding-top: 20px;
  padding-bottom: 10px;
}

.subtitle {
  color: white;
  padding-top: 10px;
}

.logo {
  height: 195px;
}

.section-logo {
  padding-top: -100px;
  height: 25%;
}

.def {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.plan {
  color: black;
}

.intro {
  font-size: 15pts;
}

.quest {
  color: grey;
}

.part1-background {
  background-image: url("../img/parallax/fond-2.png");
}

.part2-background {
  background-image: url("../img/parallax/fond-3.png");
}

.part3-background {
  background-image: url("../img/parallax/fond-4.png");
}

.exp {
  text-transform: uppercase;
}
